apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
  namespace: observability
  labels:
    app.kubernetes.io/component: data-store
    app.kubernetes.io/managed-by: argocd
spec:
  version: 8.14.0
  nodeSets:
    - name: default
      count: 1
      config:
        node.roles: ["master", "data", "ingest"]
        node.store.allow_mmap: false
        xpack.security.authc.api_key.enabled: true
      podTemplate:
        metadata:
          labels:
            app.kubernetes.io/name: elasticsearch
        spec:
          automountServiceAccountToken: true
          containers:
            - name: elasticsearch
              resources:
                requests:
                  cpu: 500m
                  memory: 2Gi
                limits:
                  cpu: "2"
                  memory: 4Gi
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 20Gi
  http:
    service:
      spec:
        type: ClusterIP
