apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: kibana
  namespace: observability
  labels:
    app.kubernetes.io/component: ui
    app.kubernetes.io/managed-by: argocd
spec:
  version: 8.14.0
  count: 1
  elasticsearchRef:
    name: elasticsearch
  http:
    service:
      spec:
        type: ClusterIP
  podTemplate:
    spec:
      containers:
        - name: kibana
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: "1"
              memory: 1Gi
  config:
    server.publicBaseUrl: http://kibana-kb-http.observability.svc.cluster.local:5601
    xpack.fleet.enabled: true
    xpack.fleet.agents.elasticsearch.hosts:
      - https://elasticsearch-es-http.observability.svc.cluster.local:9200
    xpack.fleet.agents.fleet_server.hosts:
      - http://fleet-server-agent-http.observability.svc.cluster.local:8220
    xpack.fleet.packages:
      - name: elastic_agent
        version: latest
      - name: fleet_server
        version: latest
      - name: synthetics
        version: latest
    xpack.fleet.agentPolicies:
      - name: Fleet Server policy
        id: fleet-server-policy
        namespace: default
        description: Default policy for in-cluster Fleet Server
        monitoring_enabled:
          - logs
          - metrics
        package_policies:
          - name: fleet-server-policy
            package:
              name: fleet_server
              version: latest
      - name: Private synthetics policy
        id: synthetics-private-policy
        namespace: default
        description: Private location synthetics monitors
        package_policies:
          - name: synthetics-private
            package:
              name: synthetics
              version: latest
