apiVersion: agent.k8s.elastic.co/v1alpha1
kind: Agent
metadata:
  name: synthetics-private
  namespace: observability
  labels:
    app.kubernetes.io/component: synthetics
    app.kubernetes.io/managed-by: argocd
spec:
  version: 8.14.0
  mode: fleet
  policyID: synthetics-private-policy
  kibanaRef:
    name: kibana
  elasticsearchRefs:
    - name: elasticsearch
  fleetServerRef:
    name: fleet-server
  deployment:
    replicas: 1
    podTemplate:
      spec:
        automountServiceAccountToken: true
        containers:
          - name: agent
            resources:
              requests:
                cpu: 250m
                memory: 512Mi
              limits:
                cpu: "1"
                memory: 1Gi
